.repositories-list div:first-child{
    border-top: 1px solid #e2e2e2;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -200px;
}

.container {
    padding: 40px 10px;
}

.result-container {
    width: 500px;
}

.username-form {
    margin: 24px 24px 0;
    width: 500px;
}

.username-form span {
    margin-left: 0;
    width: 300px;
    margin-right: 10px;
}

.search-bar {
    margin: 24px 0;
    width: 100%;
}

.error-msg {
    margin: 24px;
}