.box {
    padding: 24px 0;
    margin: 0 24px;
    width: 500px;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
}

.box .link {
    font-size: 16px;
    display: inline-block;
}

.box .description {
    color: var(--secondary-color);
    font-weight: 500;
}

.box .info{
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 12px;
    display: inline-block;
    justify-content: space-between;
}
.box span {
    margin-right: 16px;
}

.language {

}

.stars {
}

.last-update {
}